.footer {
  background: #9FC2AA;
  color: #000;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul li {
  display: inline-block;
  margin-right: 32px;
  filter: brightness(5%);
}

.footer ul li:last-child {
  margin-right: 0;
}

.footer section #logo-img {
  width: 110px;
}